<div class = "jumbotron">
<center>
<h1> Welcome to Danica's </h1>
<img src=" http://taosskivalleypizza.com/images/pizzashack_stacked_logo.png" alt= "">
</center>
</div>
<br>
<%=link_to "Check out our Pizza!", pizzas_path, class: "btn btn-default"%>

