<h1>Name the States located in the United States</h1>

 

<div>

<%= @message %>

</div>

<br />

 

<%= render 'form' %>
<% @states.each do |state| %>

<%= "#{state.id}. #{state.name}" %><br />

<% end %>
<%= link_to 'Back', states_path %>
