<!DOCTYPE html>
<html>
<head>
  <title>Blogalong</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

        <h1>Blogalong</h1>
        <div class="row">
            <div class="col-md-4" style="background-color: #FF9999">Left</div>
            <div class="col-md-4" style="background-color: #99CCFF">Middle</div>
            <div class="col-md-4" style="background-color: #00CC99">Right</div>
        </div>
    </div>

<%= yield %>

</body>
</html>
